@page "/questions/create"
@using Microsoft.EntityFrameworkCore
@using QuizMakerApp.Models
@inject IDbContextFactory<QuizMakerApp.Data.QuizMakerAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Question</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Question" OnValidSubmit="AddQuestion" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="text" class="form-label">Text:</label> 
                <InputText id="text" @bind-Value="Question.Text" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Question.Text" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="correctanswerid" class="form-label">CorrectAnswerId:</label> 
                <InputNumber id="correctanswerid" @bind-Value="Question.CorrectAnswerId" class="form-control" /> 
                <ValidationMessage For="() => Question.CorrectAnswerId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/questions">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Question Question { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddQuestion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Question.Add(Question);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/questions");
    }
}
