@page "/players/edit"
@using Microsoft.EntityFrameworkCore
@using QuizMakerApp.Models
@inject IDbContextFactory<QuizMakerApp.Data.QuizMakerAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Player</h2>
<hr />
@if (Player is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Player" OnValidSubmit="UpdatePlayer" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Player.Id" value="@Player.Id" />
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="Player.FirstName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Player.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="Player.LastName" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Player.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <InputNumber id="age" @bind-Value="Player.Age" class="form-control" />
                    <ValidationMessage For="() => Player.Age" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Player.Email" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Player.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="totalscore" class="form-label">TotalScore:</label>
                    <InputNumber id="totalscore" @bind-Value="Player.TotalScore" class="form-control" />
                    <ValidationMessage For="() => Player.TotalScore" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/players">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Player? Player { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Player ??= await context.Player.FirstOrDefaultAsync(m => m.Id == Id);

        if (Player is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePlayer()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Player!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PlayerExists(Player!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/players");
    }

    private bool PlayerExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Player.Any(e => e.Id == id);
    }
}
