@page "/players"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using QuizMakerApp.Models
@using QuizMakerApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<QuizMakerApp.Data.QuizMakerAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="players/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Player">
    <PropertyColumn Property="player => player.FirstName" />
    <PropertyColumn Property="player => player.LastName" />
    <PropertyColumn Property="player => player.Age" />
    <PropertyColumn Property="player => player.Email" />
    <PropertyColumn Property="player => player.TotalScore" />

    <TemplateColumn Context="player">
        <a href="@($"players/edit?id={player.Id}")">Edit</a> |
        <a href="@($"players/details?id={player.Id}")">Details</a> |
        <a href="@($"players/delete?id={player.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private QuizMakerAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
